:root {
    --light: #E9EAEC;
    --mid: #D0C1D7;
    --dark: #8D6A9F;
    --text: #343434;
    --warning: #E5625E;
    --warning-dark: #AF211D;
    --confirm: #7CAAF4;
    --confirm-dark: #1052BC;
}

body {
    margin: 5%;
    background-color: var(--text);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: var(--text);
}

.button {
    height:40px;
    width: 100px;
    border:  2px lightgray solid, 1px black solid;
    border-radius: 0;
    /* box-shadow: 
        0 2px 2px white,
        0 -1px 1px gray,
        inset 0 -2px 2px gray,
        inset 0 2px 2px white;
        font-weight: bold; */
    overflow: hidden;
    transition: background-position 300ms ease;
}

.button:hover {
    background-position: 0;
}

#submit:hover {
    background-position: 0;
}

#submit {
    background: linear-gradient(
                to right,
                var(--confirm),
                var(--confirm) 50%,
                #E0E0E0 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

.delete {
    background: linear-gradient(
                to right,
                var(--warning),
                var(--warning) 50%,
                #E0E0E0 50%);
    background-size: 200% 100%;
    background-position: 100%;
}

.heading, .content {
    padding: 20px;
    background-color: var(--light);
}

.heading {
    display:inline-block;
    margin-bottom: 0px;
    border-radius: 25px 25px 0px 0px;
    font-family: "Hoefler Text", "Palatino", "Georgia", "Garamond", serif;
}

.heading:after {
    content: "";
    display: block;
    margin: 0, auto;
    padding-top: 10px;
    border-bottom: 3px solid var(--dark);
}

.content {
    margin-top: 0px;
    border-radius: 0px 25px 25px 25px;
}

#form-container {
    margin-bottom: 2%;
}

#new-species-form {
    display: flex;
    flex-direction: column;
    width: 60%;

    /* background: pink; */
}

#new-species-form > * {
    margin: 10px;
}

#form-top-row, #form-bottom-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    /* background: aqua; */
}


.form-item {
    width: 180px;
}

.form-item > * {
    display: block;

    /* background: yellow; */
}

#range-checklist {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr) 10px 1fr;
}

#atlantic-checkbox-item {
    grid-column: 1 / 2;
    grid-row: 5 / 6;
}
#indian-checkbox-item {
    grid-column: 2 / 3;
    grid-row: 5 / 6;
}

#pacific-checkbox-item {
    grid-column: 3 / 4;
    grid-row: 5 / 6;
}

#form-buttons {
    display: flex;
    justify-content: space-between;
}

#species-list {
    display: flex;
    flex-wrap: wrap;
}

#species-list * {
    list-style: none;
}

.species-item {
    min-height: 200px;
    width: 40%;
    min-width: 300px;
    margin: 20px;
    border: 3px var(--dark) solid;
    border-radius: 15px;
    padding:20px;
    background-color: var(--mid);
}

.species-title-row {
    display: flex;
    justify-content: space-between;
}

.species-title {
    margin:0;
}
.species-subtitle {
    margin:0;
    font-style: italic;
}

.species-body:before {
    content: "";
    display: block;
    margin: 20px 0px;
    border-bottom: 3px solid var(--dark);
}

.species-body {
    padding-left: 0px;
}


